@font-face {
    font-family: 'sports'; /*a name to be used later*/
    src: url('llbrown.ttf'); /*URL to font*/
}

:root{
  --NBAblue:#0067b1;
  --NBAred: #ed174f;
}

.logo{
  width: 8%;
  height: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-top: 10px;
  text-align: center;
  font-family: 'sports';
  letter-spacing: 2px;
  font-size: 60pt;
  color: var(--NBAred);
}
h3{
  margin-top: 6px;
  text-align: center;
  font-family: 'sports';
  font-size: 30pt;
  color: var(--NBAblue);
}
.player{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.chart{
  width:50%;
  height:50%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:100px;
}

.bigChart{
  padding-top:5px;
  height:85%;
  width:85%;
  margin-left:auto;
  margin-right:auto;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "sports";
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

ul.compare {
  white-space: nowrap;
  text-align: center;
}

ul.compare, li.compare {
  top: 100px;
  list-style: none;
  display: inline;
  text-align: center;
}

.array {
  text-align: center;
}

.compare {
  display:inline;
}

body {
  padding-top:65px;
}

.pic {
  height:131px;
  width:101px;
}

.fade {
  opacity:0.2;
}