@font-face {
    font-family: 'sports'; /*a name to be used later*/
    src: url('llbrown.ttf'); /*URL to font*/
}

:root{
  --NBAblue:#0067b1;
  --NBAred: #ed174f;
}

.logo{
  width: 8%;
  height: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-top: 10px;
  text-align: center;
  font-family: 'sports';
  letter-spacing: 2px;
  font-size: 60pt;
  color: var(--NBAred);
}
h3{
  margin-top: 6px;
  text-align: center;
  font-family: 'sports';
  font-size: 30pt;
  color: var(--NBAblue);
}
p{
  margin-top: 6px;
  text-align: center;
  font-family: 'sports';
  font-size: 12pt;
  color: Black;
}
.player{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.chart{
  width:50%;
  height:50%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:100px;
}

.bigChart{
  padding-top:5px;
  height:85%;
  width:85%;
  margin-left:auto;
  margin-right:auto;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "sports";
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

ul.compare {
  white-space: nowrap;
  text-align: center;
}

ul.compare, li.compare {
  top: 100px;
  list-style: none;
  display: inline;
  text-align: center;
}

.array {
  text-align: center;
}

.compare {
  display:inline;
}

body {
  padding-top:65px;
}

.pic {
  height:131px;
  width:101px;
}

.fade {
  opacity:0.5;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family:"sports";
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'sports';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    font-size:12pt;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}